<a href="https://colab.research.google.com/github/mohai-menul-islam-bishal/BeeCrowd_solution/blob/main/Beecrowd_randomSolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1244(BEECROWD)

In [ ]:
number = int(input('enter the following number: '))

list1 = ''

for i in range(number):
    string1 = input().split()
    #print(string1)
    length1 = len(string1)
    #print(length1)
    #print(sorted(string1, key=len, reverse = True))
    mydocu = ' '.join(map(str,(sorted(string1, key=len, reverse = True))))
    print(mydocu)

enter the following number: 4
Top Coder comp Wedn at midnight
midnight Coder comp Wedn Top at
one three five
three five one
I love Cpp
love Cpp I
sj a sa df r e w f d s a v c x z sd fd
sj sa df sd fd a r e w f d s a v c x z

#1259(BEECROWD)

In [ ]:
number = int(input())

list1 = []

list2 = []

for i in range(number):
    num = int(input())
    if num%2==0:
        list1.append(num)
    else:
        list2.append(num)

list1 = sorted(list1)
list2 = sorted(list2, reverse = True)

for i in range(len(list1)):
    print(list1[i])

for i in range(len(list2)):
    print(list2[i])

10
4
32
34
543
3456
654
567
87
6789
98
4
32
34
98
654
3456
6789
567
543
87

#1238(BEECROWD)

In [19]:
number = int(input())

for i in range(number):
    var1 = input().split()
    #print(var1)
    strng1 = var1[0]
    strng2 = var1[1]
    #print(strng1)
    #print(strng2)
    count_strng1 = 0 
    count_strng2 = 0
    main = []
    length = len(strng1)+len(strng2)
    #print(length)
    for k in range(length):
        if k%2 ==0 and count_strng1<len(strng1):
            main.append(strng1[count_strng1])
            count_strng1 += 1
        #print(main)
        elif k%2 ==1 and count_strng2<len(strng2):
            main.append(strng2[count_strng2])
            count_strng2 += 1
        #print(main)
        elif count_strng1 == len(strng1):
            main.append(strng2[count_strng2])
            count_strng2 +=1
        elif count_strng2 == len(strng2):
            main.append(strng1[count_strng1])
        #print(main)
    
    for messi in main:
        print(messi, end = '')
    print()

2
Tpo oCder
TopCoder
aa bb
abab

#3103(BEECROWD)

In [7]:
number = int(input())
for i in range(number):
    num = input()
    if '0' in num:
        main = 9
        value = ''
        for i in num:
            if i != '0' and i.isdigit():
                if int(i) < main:
                    main = int(i)
        count = 1
        value += str(main)
        for j in sorted(num):
            if j == str(main) and count == 1:
                count=count-1
            else:
                if j.isdigit():
                    value += j
        print(value)
    else:
        value = ''
        for i in sorted(num):
            value += i
        print(value)

3
548451
144558
95480009694
40004568999
51809580050
10000555889

#1287(BEECROWD)

#1234(BEECROWD)

In [ ]:
while True:
    try:
        value = ''
        main = input()
        length = len(main)
        count = 0
        for i in range(length):
            if main[i] ==' ':
                value = value + main[i]
                #print(value)
            else:
                if count ==0:
                    value = value + main[i].upper()
                    count= 1
                else:
                    value = value + main[i].lower()
                    count = 0
        print(value)
    except EOFError:break

#2633(BEECROWD)

In [ ]:
while True:
    try:
        number = int(input())
        new = []
        for i in range(number):
            string1 = str(input()).split()
            new.append([string1[0],int(string1[1])])
        new.sort(key=lambda x: x[1])
        for string1 in new:
            print(string1[0], end='')
            if string1[-1] != new[-1]: 
                print(end=' ')
        print()
    except EOFError: break

3
picanha 15
coracao 14
maminha 37
coracao picanha maminha
4
alcatra 17
linguica 13
asinha 5
pernil 23
asinha linguica alcatra pernil

#2312(BEECROWD)

In [8]:
number = int(input())
place = []
for i in range(number):
    new = []
    strng = input().split()
    #print(strng)
    new.append(strng[0])
    new.append(int(strng[1]))
    new.append(int(strng[2]))
    new.append(int(strng[3]))
    place.append(new)
    #print(place)
place = sorted(sorted(place, key = lambda x: x[0]), key=lambda x: (x[1], x[2], x[3]), reverse = True)
#print(place)
for a,b,c,d in place:
    print(a, b, c, d)

8
Belgica 2 2 2
Brasil 7 6 6
Franca 10 18 14
Italia 8 12 8
Australia 8 11 10
Colombia 3 2 3
Suica 3 2 2
Tailandia 2 2 2
Franca 10 18 14
Italia 8 12 8
Australia 8 11 10
Brasil 7 6 6
Colombia 3 2 3
Suica 3 2 2
Belgica 2 2 2
Tailandia 2 2 2

#2508(BEECROWD)